/* general site standards */
* {
  background-color: #FBFAF8;
  font-family: 'Helvetica Neue', sans-serif;
}

/* logo positioning and styling */
.logo {
  position: absolute;
  width: 460.4px;
  height: 34.84px;
  left: 68.99px;
  top: 48.62px;
  font-size: 34px;
  color: black;
  text-decoration: none;
  font-weight: 300;
}

/* start styling for div.navbar */

div.navbar a {
  color: #5F5F5F;
  position: absolute;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
}

div.navbar a.home {
  position: absolute;
  width: 66px;
  height: 29px;
  left: 926.73px;
  top: 54.46px;
}

div.navbar a.products {
  position: absolute;
  width: 94px;
  height: 29px;
  left: 1021.31px;
  top: 54.46px;
}

div.navbar a.about {
  position: absolute;
  width: 63px;
  height: 29px;
  left: 1143.9px;
  top: 54.46px;
}

div.navbar a.contact {
  position: absolute;
  width: 83px;
  height: 29px;
  left: 1235.48px;
  top: 54.46px;  
}

.navbar .active {
  font-weight: 500;
  padding-right: 30px;
  color: black;
}
/* end styling for div.navbar */

/* start styling for home page */

/* styling for hero message */
#heroHeading {
  position: absolute;
  width: 478.48px;
  height: 117px;
  left: 124px;
  top: 243.74px;
  font-weight: normal;
  font-size: 48px;
  color: #170A0A;
}

/* styling for hero message description */
#heroDesc {
  position: absolute;
  width: 488.45px;
  height: 139.28px;
  left: 124px;
  top: 416px;
  color: #5F5F5F;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
}

/* styling for hero image */
#heroImage {
  position: absolute;
  box-shadow: 0px 4px 20px 10px rgba(65, 63, 63, 0.15);
  border-radius: 100px 0px 0px 100px;
  width: 750px;
  height: 555px;
  left: 690px;
  top: 205px;
}


.aboutText {
  position: absolute;
  width: 554.32px;
  height: 77.62px;
  left: 67.99px;
  top: 332.28px;
  color: #6C6C6C;
  font-size: 24px;
  font-weight: normal;
}

#explore {
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  width: 301.84px;
  height: 85px;
  left: 124px;
  top: 650px;
  background: #7472B6;
  border-radius: 100px;
  border: none;
  color: white;
}

/* start styling for product browsing page */

/* styling for product browsing page title */
.productsTitle {
  position: absolute;
  left: 64.99px;
  top: 128.76px;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #7472B6;
}

/* styling for dog harness container */
.productDogHarness {
  position: absolute;
  width: 394.72px;
  height: 520.16px;
  left: 68.99px;
  top: 291.28px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* styling for dog harness photo */
.dogHarnessPhoto {
  position: absolute;
  width: 315.26px;
  height: 315.26px;
  left: 42px;
  top: 32px;
}

/* styling for dog harness product name */
.dogHarnessName {
  position: absolute;
  left: 41px;
  top: 350px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  background: white;
}

/* styling for dog harness price */
.dogHarnessPrice {
  position: absolute;
  right: 38.53px;
  top: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  background: white;
}

/* styling for circles on products page */
.circle {
  height: 33px;
  width: 33px;
  border-radius: 50%
}

/* color1 */
.strawberry {
  background-color: #DC6868;
}

/* color2 */
.blackBerry {
  background-color: #1D2361;
}

/* color3 */
.crazyBerry {
  background-color: #595186;
}

/* color4 */
.fireOrange {
  background-color: #DE8C2B;
}

/* first circle position for dog harness */
#dogHarnessColors .strawberry {
  position: absolute;
  left: 41px;
  top: 455px;
}

/* second circle position for dog harness */
#dogHarnessColors .blackBerry {
  position: absolute;
  left: 89.48px;
  top: 455px;
}

/* third circle position for dog harness */
#dogHarnessColors .crazyBerry {
  position: absolute;
  left: 137.8px;
  top: 455px;
}

/* fourth circle position for dog harness */
#dogHarnessColors .fireOrange {
  position: absolute;
  left: 188.74px;
  top: 455px;
}

/* styling for cat harness container */
.productCatHarness {
  position: absolute;
  width: 394.72px;
  height: 520.16px;
  left: 526.97px;
  top: 291.28px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* styling for cat harness photo */
.catHarnessPhoto {
  position: absolute;
  width: 315.26px;
  height: 315.26px;
  left: 42px;
  top: 32px;
}

/* styling for cat harness product name */
a.catHarnessName {
  text-decoration: none;
  color: #170A0A;
  position: absolute;
  left: 41px;
  top: 377px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  background: white;

}

/* styling for cat harness price */
.catHarnessPrice {
  position: absolute;
  right: 38.53px;
  top: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  background: white;
}

/* first circle position for cat harness */
#catHarnessColors .strawberry {
  position: absolute;
  left: 41px;
  top: 455px;
}

/* second circle position for cat harness */
#catHarnessColors .blackBerry {
  position: absolute;
  left: 89.48px;
  top: 455px;
}

/* third circle position for cat harness */
#catHarnessColors .crazyBerry {
  position: absolute;
  left: 137.8px;
  top: 455px;
}

/* fourth circle position for cat harness */
#catHarnessColors .fireOrange {
  position: absolute;
  left: 188.74px;
  top: 455px;
}

/* styling for cat backpack container */
.productBackpack {
  position: absolute;
  width: 394.72px;
  height: 520.16px;
  left: 984.94px;
  top: 291.28px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* styling for cat backpack photo */
.backpackPhoto {
  position: absolute;
  width: 315.26px;
  height: 315.26px;
  left: 42px;
  top: 32px;
}

/* styling for cat backpack product name */
.backpackName {
  position: absolute;
  left: 41px;
  top: 350px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  background: white;
}

/* styling for cat backpack container */
.backpackPrice {
  position: absolute;
  right: 38.53px;
  top: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  background: white;
}

/* first circle position for cat backpack */
#backpackColors .strawberry {
  position: absolute;
  left: 41px;
  top: 455px;
}

/* second circle position for cat backpack */
#backpackColors .blackBerry {
  position: absolute;
  left: 89.48px;
  top: 455px;
}

/* third circle position for cat backpack */
#backpackColors .crazyBerry {
  position: absolute;
  left: 137.8px;
  top: 455px;
}

/* fourth circle position for cat backpack */
#backpackColors .fireOrange {
  position: absolute;
  left: 188.74px;
  top: 455px;
}

/* styling for gps tracker container */
.productGps {
  position: absolute;
  width: 394.72px;
  height: 520.16px;
  left: 68.99px;
  top: 873.27px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* styling for gps tracker collar photo */
.gpsPhoto {
  position: absolute;
  width: 315.26px;
  height: 315.26px;
  left: 42px;
  top: 32px;
}

/* styling for gps tracker collar product name */
.gpsName {
  position: absolute;
  left: 41px;
  top: 350px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  background: white;
}

/* styling for gps tracker collar price */
.gpsPrice {
  position: absolute;
  right: 38.53px;
  top: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  background: white;
}

/* first circle position for gps tracker collar */
#gpsColors .strawberry {
  position: absolute;
  left: 41px;
  top: 455px;
}

/* second circle position for gps tracker collar */
#gpsColors .blackBerry {
  position: absolute;
  left: 89.48px;
  top: 455px;
}

/* third circle position for gps tracker collar */
#gpsColors .crazyBerry {
  position: absolute;
  left: 137.8px;
  top: 455px;
}

/* fourth circle position for gps tracker collar */
#gpsColors .fireOrange {
  position: absolute;
  left: 188.74px;
  top: 455px;
}

/* styling for food storage attachment container */
.productFood {
  position: absolute;
  width: 394.72px;
  height: 520.16px;
  left: 526.97px;
  top: 873.27px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* styling for food storage attachment photo */
.foodPhoto {
  position: absolute;
  width: 315.26px;
  height: 315.26px;
  left: 42px;
  top: 32px;
}

/* styling for food storage attachment product name */
.foodName {
  position: absolute;
  left: 41px;
  top: 350px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  background: white;
}

/* styling for food storage attachment price */
.foodPrice {
  position: absolute;
  right: 38.53px;
  top: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  background: white;
}

/* first circle position for food storage attachment */
#foodColors .strawberry {
  position: absolute;
  left: 41px;
  top: 455px;
}

/* second circle position for food storage attachment */
#foodColors .blackBerry {
  position: absolute;
  left: 89.48px;
  top: 455px;
}

/* third circle position for food storage attachment */
#foodColors .crazyBerry {
  position: absolute;
  left: 137.8px;
  top: 455px;
}

/* fourth circle position for food storage attachment */
#foodColors .fireOrange {
  position: absolute;
  left: 188.74px;
  top: 455px;
}

/* styling for water storage attachment container */
.productWater {
  position: absolute;
  width: 394.72px;
  height: 520.16px;
  left: 984.94px;
  top: 873.27px;
  background: #FFFFFF;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

/* styling for water storage attachment photo */
.waterPhoto {
  position: absolute;
  width: 315.26px;
  height: 315.26px;
  left: 42px;
  top: 32px;
}

/* styling for water storage attachment product name */
.waterName {
  position: absolute;
  left: 41px;
  top: 350px;
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 31px;
  background: white;
}

/* styling for water storage attachment price */
.waterPrice {
  position: absolute;
  right: 38.53px;
  top: 350px;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 31px;
  background: white;
}

/* first circle position for water storage attachment */
#waterColors .strawberry {
  position: absolute;
  left: 41px;
  top: 455px;
}

/* second circle position for water storage attachment */
#waterColors .blackBerry {
  position: absolute;
  left: 89.48px;
  top: 455px;
}

/* third circle position for water storage attachment */
#waterColors .crazyBerry {
  position: absolute;
  left: 137.8px;
  top: 455px;
}

/* fourth circle position for water storage attachment */
#waterColors .fireOrange {
  position: absolute;
  left: 188.74px;
  top: 455px;
}
/* end styling for product browsing page */

/* start styling for product details page: cat harness */

/* styling for product name */
.chHeading {
  position: absolute;
  width: 213px;
  height: 44px;
  left: 617px;
  top: 204px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #170A0A;
}

/* styling for product price */
.chCost {
  position: absolute;
  width: 41px;
  height: 29px;
  left: 1145.9px;
  top: 214px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

/* styling for product description */
.catHarnessDesc {
  position: absolute;
  width: 584.43px;
  height: 54.8px;
  left: 617px;
  top: 265px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #6C6C6C;
}

/* styling for product photo */
.catHarnessDetailsPhoto {
  background: url(hlh1996-tpFf5y14gBI-unsplash.jpg);
  border-radius: 15px;
  position: absolute;
  width: 477.06px;
  height: 581.41px;
  left: 70.78px;
  top: 234.85px;
}

/* styling for size heading */
.sizeHeading {
  position: absolute;
  width: 59px;
  height: 37px;
  left: 618.07px;
  top: 373.61px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #4B4B4A;
}

/* styling for circles on product details page */
.circle2 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/* circle 1 position */
.color .strawberry {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 620.99px;
  top: 650.86px;
}

/* circle 2 position */
.color .blackBerry {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 684.83px;
  top: 650.86px;
}

/* circle 3 position */
.color .crazyBerry {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 748.67px;
  top: 650.86px; 
}

/* circle 4 position */
.color .fireOrange {
  position: absolute;
  width: 40px;
  height: 40px;
  left: 812.51px;
  top: 650.86px;
}

/* circle 3 position */
.colorHeading {
  position: absolute;
  width: 75px;
  height: 37px;
  left: 618.63px;
  top: 568.33px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #4B4B4A;
}

/* styling for size text (t, s, m, l) for size options */
p.size {
  position: absolute;
  width: 19.21px;
  height: 38.42px;
  left: 636.39px;
  top: 447.04px;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #9E9E9E;
}

/* styling for tiny option */
.tSizeContainer {
  background: #EAEAEA;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 620.07px;
  top: 461.25px;
}

/* styling for small option */
.sSizeContainer {
  background: #EAEAEA;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 691.6px;
  top: 461.25px;
}

/* styling for medium option */
.mSizeContainer {
  background: #EAEAEA;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 763.13px;
  top: 461.25px;
}

/* styling for large option */
.lSizeContainer {
  background: #EAEAEA;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);
  border-radius: 7px;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 834.66px;
  top: 461.25px;
}

/* styling for add to cart button */
#chAddToCart {
  font-size: 36px;
  font-weight: 700;
  position: absolute;
  width: 301.84px;
  height: 82.96px;
  left: 613.63px;
  top: 738.27px;
  background: #7472B6;
  border-radius: 100px;
  border: none;
  color: white;
}

/* position for tiny option */
div.tSizeContainer p.size {
  position: absolute;
  left: 16.18px;
  top: -23px;
  background: none;
}

/* position for small option */
div.sSizeContainer p.size {
  position: absolute;
  left: 15.15px;
  top: -23px;
  background: none;
}

/* position for medium option */
div.mSizeContainer p.size {
  position: absolute;
  left: 11.76px;
  top: -23px;
  background: none;
}

/* position for large option */
div.lSizeContainer p.size {
  position: absolute;
  left: 15.85px;
  top: -23px;
  background: none;
}

/* styling for size guide button */
.sizeGuide {
  position: absolute;
  width: 135.94px;
  height: 18.93px;
  left: 620.07px;
  top: 513px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #7472B6;
}

/* styling for products page on breadcrumb nav */
a.bcProducts {
  position: absolute;
  text-decoration: none;
  width: 94px;
  height: 29px;
  left: 68.99px;
  top: 151.29px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #6C6C6C;
}

/* styling for arrow on breadcrumb nav */
.arrow1 {
  position: absolute;
  width: 15px;
  height: 29px;
  left: 171.35px;
  top: 126px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #6C6C6C;
}

/* styling for cat harness page on breadcrumb nav */
.bcCatHarness {
  position: absolute;
  width: 129px;
  height: 29px;
  left: 196.42px;
  top: 126px;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #6C6C6C;
}

/* styling for rectangular status indicator for home page just below nav bar */
.homeStatus {
  position: absolute;
  width: 55px;
  height: 0px;
  left: 929.47px;
  top: 90px;
  border: 4px solid #7472B6;
}

/* styling for rectangular status indicator for products page just below nav bar */
.productStatus {
  position: absolute;
  width: 89px;
  height: 0px;
  left: 1023.67px;
  top: 90px;
  border: 4px solid #7472B6;
}

/* end styling for product details page: cat harness */
